<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="D:\TEMP\ExceptionLogging\internallog.txt">
	<targets>
		<target name="debugfile" xsi:type="File"
				fileName="D:/TEMP/ECommerce/debug/${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
		<target name="errorfile" xsi:type="File"
				fileName="D:/TEMP/ECommerce/error/${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
		<target name="infofile" xsi:type="File"
					fileName="D:/TEMP/ECommerce/info/${shortdate}_logfile.txt"
					layout="${longdate} ${level:uppercase=true} ${message}"/>
		<target name="warnfile" xsi:type="File"
					fileName="D:/TEMP/ECommerce/warn/${shortdate}_logfile.txt"
					layout="${longdate} ${level:uppercase=true} ${message}"/>
		<target name="exceptionfile" xsi:type="File"
					fileName="D:/TEMP/ECommerce/exception/${shortdate}_logfile.txt"
					layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>
	<rules>
		<logger name="LoggerManager" levels="Debug" writeTo="debugfile" />
		<logger name="*" levels="Error" writeTo="errorfile" />
		<logger name="LoggerManager" levels="Info" writeTo="infofile" />
		<logger name="LoggerManager" levels="Warn" writeTo="warnfile" />
	</rules>
</nlog>