@model Domain.Models.Tag;
@using static Domain.Constants.Constants;
@{
    ViewData["Title"] = "UpdateTag";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-1"></div>
        <!-- end col -->

        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Marka Güncelleme Sayfası</h4>
                    <br/>
                    @if (ViewBag.IsModelStateValid == false)
                    {
                        <div class="alert alert-danger" asp-validation-summary="All">

                        </div>
                    }
                    <form asp-controller="Tag" asp-action="UpdateTag">
                        <div class="form-group" hidden="hidden">
                            <div>
                                <input type="text" class="form-control" asp-for="Id" name="Id">
                                <input type="text" class="form-control" asp-for="InsertionDate" name="InsertionDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tag</label>
                            <div>
                                <input type="text" asp-for="Name" name="Name" class="form-control" required placeholder="Tag yazınız" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <div>
                                <select asp-for="Status" class="form-control" name="Status" asp-items="Html.GetEnumSelectList<StatusCodes>()">
                                    <option selected="selected" value="-1">Please Choose</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <div>
                                <button type="submit" class="btn btn-primary waves-effect waves-light">
                                    Kaydet
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

</div>
<!-- end container-fluid -->